<div class="content">
    <div class="timer">
        <div class="timer-inside" [style.width]="timeBarWidth + '%'">
        </div>
        <p>{{ actualTime }}s</p>
    </div>
    <div #heartBar class="hearts-bar">
        <svg *ngFor="let _ of range(lives.initial)" xmlns="http://www.w3.org/2000/svg"viewBox="0 0 24 24" fill="#FF3D3D" stroke="#000000" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"/></svg>
    </div>
    <div class="operation-container">
        <div class="operation-panel">
            {{ actualOperation.operation }}
        </div>
        <div class="operation-input">
            <input #operationInput #submitButton class="operation-input-field" type="text" placeholder="">
        </div>
    </div>
</div>