<div class="settings-panel">
    <div class="music-slider">
        <p>Music volume</p>
        <div class="slider">
            <mat-icon>{{ musicVolume > 0 ? 'volume_up' : 'volume_off' }}</mat-icon>
            <mat-slider min="0" max="100" step="1" (input)="onMusicSliderChange($event)">
                <input [value]="musicVolume" matSliderThumb>
            </mat-slider>
        </div>
    </div>
    <div class="sounds-slider">
        <p>Sound effects volume</p>
        <div class="slider">
            <mat-icon>{{ soundVolume > 0 ? 'volume_up' : 'volume_off' }}</mat-icon>
            <mat-slider min="0" max="100" step="1" (input)="onSoundSliderChange($event)">
                <input [value]="soundVolume" matSliderThumb>
            </mat-slider>
        </div>
    </div>
</div>